<p>

<b><font size="12"><font color="midnightblue"> MadGifs</font></font></b>
  <br>
  <br>
<b><font size="4"><u>MADGIFS IN YOUR FACE!!</u></font></b>
  <br>
  <br>
  <br>
  <br>
<img src="http://www.alice-in-wonderland.net/alicepic/disney-movie/mad-hatter-4.jpg" width="600" height="400">
  <br>
  <br>
<b><u><font size="6">Get Mad Bro...</font></u></b>
  <br>
  <br>
  <br>
<b><font size="3">U mad bro? Its time to get <a href="http://www.youtube.com/watch?v=WzUwXSThmhc&feature=kp">hyphy</a> with GIFS (JIFS). Play a game with your friends or violate your eyes with some previous Madness...</font><b>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

<div>
<p align="right">
  <img src="http://giphy.github.io/GiphyLabs/static/graphics/api_giphy_logo.png" alt="Powered by Giphy" width="100" height="71">
</div>
  <footer>
  <p align="right">
  Powered by Giphy
  <br>
  <br>
  <br>
  <br>
<a href="https://twitter.com/madgifs" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @madgifs</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <br>
    <br>
    <br>
    <br>
      <b>Created by: Team Haxxors<b></p>
      <p align="right">
      <b>Contact information:<b> <a href="mailto:madgifs@gmail.com"><b>madgifs@gmail.com<b></a>
</footer>
</div>
</body>
</html>
