<h1>TEST</h1>

<p>
    The <br><br>(noun)<%= image_tag(@game.gif1) %> went to the <br><br>(place)<%= image_tag(@game.gif2) %> with <br><br>(person)<%= image_tag(@game.gif3) %> and <br><br>(plural noun)<%= image_tag(@game.gif4) %>.
</p>

